<div class="content">
    <div class="container">
        <div class="content-grids">
        <h2 class="title">{{ name }}</h2>
            <div class="col-md-8 content-main">
                <div class="content-grid">
                {{ elements['#content'].posts }}
                </div>
            </div>
            {{ drupal_block('side_block') }}
            <div class="clearfix"></div>
        </div>
    </div>
</div>