<div class="who-iam">
    <h3>{{ content.field_title}}</h3>
    <div class="man-info">
        {{ content.field_text}}
    </div>
    <div class="man-pic">
        {{ content.field_image }}
    </div>
    <div class="clearfix"></div>
</div>